/*
*Offlajnscroller
*/

.offlajnscrollerright {
  float: right;
  width: 6px;
  display: block;
  padding-right: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offlajnscrollerbg {
  position: relative;
}

.offlajnscrollerarrowup {
  margin-top: 4px;
  width: 10px;
  height: 5px;
  background: url('arrow_up.png') center 0 no-repeat;
  cursor: pointer;
}

.offlajnscrollerarrowdown {
  margin-top: 1px;
  width: 10px;
  height: 6px;
  background: url('arrow_down.png') center bottom no-repeat;
  cursor: pointer;
  margin-top: 4px;
}

.offlajnscrollerscrollbg{
  background-color: #000;
  opacity: 0.16;
  border-radius: 3px;
  width: 6px;
  margin-top: 4px;
}

.offlajnscrollerscrollbg.selected {
  margin-top: 3px;
}

.offlajnscrollerscrollbtn {
  width: 4px;
  height: 10px;
  background-color: #ececec;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  /* Safari 4-5, Chrome 1-9 */ 
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e1e1e1));
   /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #eeeeee, #dfdfdf);
   /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #eeeeee, #e1e1e1);
   /* IE 10 */ 
  background: -ms-linear-gradient(top, #eeeeee, #e1e1e1);
   /* Opera 11.10+ */ 
  background: -o-linear-gradient(top, #eeeeee, #e1e1e1);
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
}


/*
*IE bugfixes
*/

.dj_ie8 .offlajnscrollerscrollbg {
  background-color: #d5ccaa;
}

.dj_ie8 .offlajnscrollerscrollbtn {
  margin-left: 1px;
}


/*
*Multi select
*/

.offlajnscrollerright.multi-select {
  width: 8px;
}

.offlajnscrollerbg.multi-select {
  background-color: #ededed;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  width: 9px;
}

.offlajnscrollerscrollbg.multi-select {
  width: 9px;
  background-color: #d6d6d6;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1) inset;
}

.offlajnscrollerscrollbtn.multi-select {
  width: 7px;
  margin-top: 14px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1),
              1px 1px 0px rgba(255, 255, 255, 0.5) inset;
}