/******************************** 
 *
 *        com_emundus
 *
 ********************************/
 .hidden{
 	display:none;
 }
.bold {font-weight:bold;}
.green{background-color:#AEE3BE;background-image: -moz-linear-gradient(center top , #FFFFFF, #AEE3BE);}
.orange{background-color:#FC0;background-image: -moz-linear-gradient(center top , #FFFFFF, #FC0);}
.red{background-color:#FFA8A8;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFA8A8);}
.blue{background-color:#09F;background-image: -moz-linear-gradient(center top , #FFFFFF, #09F);}
input[name="search_button"]{background-color:#09F;background-image: -moz-linear-gradient(center top , #FFFFFF, #09F);}
input[name="clear_button"]{background-color:#FC0;background-image: -moz-linear-gradient(center top , #FFFFFF, #FC0);}
input[name="custom_email"]{background-color:#09F;background-image: -moz-linear-gradient(center top , #FFFFFF, #09F);}
#legend {
	margin:0px auto 20px auto;
}
#legend td {
	min-width:25%;
}
.need_missing {
	background: url(images/button_cancel.png) 0 0 no-repeat;
	padding-left:30px;
	text-align:left;
}
.need_missing a.blink {
	text-decoration:blink;
}
p.need_missing {margin-left: 25px;}
.need_ok {
	background: url(images/button_ok.png) 0 0 no-repeat;
	padding-left:30px;
	text-align:left;
}
p.need_ok{margin-left: 25px;}
.print {
	background: url(images/printer.png) 0 0 no-repeat;
	padding-left:48px;
	padding-top:20px;
	height:48px;
}
.need_missing_fac {
	background: url(images/button_cancel_black.png) 0 0 no-repeat;
	padding-left:30px;
	text-align:left;
}
p.need_missing_fac{margin-left: 25px;}
p.description  {
	color:#777777;
	font-style:italic;
}
#form_list {
	float:left;
	/*margin-left:62%;*/
}
#form_list h2 {
	margin-top:0;
	padding-top:10px;
}
#attachment_list {
	margin-bottom:1em;
	/*width:100%;*/
}
#attachment_list_mand {
	width: 47%;
	float:left;
}
#attachment_list_opt {
	margin-left:50%;
}
#attachment_list h2{
	margin-top:0;
	padding-top:10px;
}
#attachment_list legend {
	font-size: 14px;
}
#attachment_list fieldset {
	padding:5px;
	margin-top:5px;
}
#info_checklist {
	margin: auto;
	width: 90%;
	font-weight:bold;
}
#info_checklist h1{
	padding-left:48px;
	padding-top:16px;
	padding-bottom:16px;
}
.checklist1 {
	background: url(images/error.png) 0 0 no-repeat;
}
.checklist0  {
	background: url(images/clean.png) 0 0 no-repeat;
}
.checklist2 {
	background: url(images/fail.png) 0 0 no-repeat;
}
.checklist3 {
	background: url(images/wait.png) 0 0 no-repeat;
}
.checklist4  {
	background: url(images/graduated.png) 0 0 no-repeat;
}
#info_checklist  h2{
	text-align:center;
	margin-top:24px;
	margin-bottom:35px;
}
#info_checklist a {
	padding-left:48px;
	padding-top:16px;
	padding-bottom:16px;
}
#info_checklist a.appsent {
	background: url(images/printer.png) 0 0 no-repeat;
}
#info_checklist a.sent {
	background: url(images/filevalid.png) 0 0 no-repeat;
}
#submittop {
	float:right;
	margin-top:-22px;
	margin-right:14%;
}
#submitbottom {
	float:right;
	margin-right:14%;
}

/** POUR LE PROFILE CONFIG **/
h1 a {
	color:#777777;
	font-size: 75%;
}
#formlist {
	margin-left:60%;
}
#attachmentlist {
	float:left;
	width:55%;
}
.trombiphoto {
	width:100px;
	display:-moz-inline-box;
	display:inline-block;
	margin:10px;
}
.trombiphoto  img{
	width:100px;
	display:-moz-inline-box;
	display:inline-block;
}
.emundusprofile1{background-color:#000;color:#FFF;background-image: -moz-linear-gradient(center top , #FFFFFF, #000);border-radius:5px;border-radius:5px; font-weight:bold;text-align:center;}
.emundusprofile2{background-color:#CBCBE4;background-image: -moz-linear-gradient(center top , #FFFFFF, #CBCBE4);border-radius:5px;border-radius:5px;text-align:center;}
.emundusprofile3{background-color:#CBCBE4;background-image: -moz-linear-gradient(center top , #FFFFFF, #CBCBE4);border-radius:5px;border-radius:5px;text-align:center;}
.emundusprofile4{background-color:#CBCBE4;background-image: -moz-linear-gradient(center top , #FFFFFF, #CBCBE4);border-radius:5px;border-radius:5px;text-align:center;}
.emundusprofile5{background-color:#CBCBE4;background-image: -moz-linear-gradient(center top , #FFFFFF, #CBCBE4);border-radius:5px;border-radius:5px;text-align:center;}
.emundusprofile6{background-color:#CBCBE4;background-image: -moz-linear-gradient(center top , #FFFFFF, #CBCBE4);border-radius:5px;border-radius:5px;text-align:center;}
.emundusprofile7{background-color:#6F0;background-image: -moz-linear-gradient(center top , #FFFFFF, #6F0);border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile8{background-color:#0C0;background-image: -moz-linear-gradient(center top , #FFFFFF, #0C0);border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile9{background-color:#ab2f61;color:#FFF;border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile10{background-color:#FFC;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFC);border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile11{background-color:#ccc;background-image: -moz-linear-gradient(center top , #FFFFFF, #ccc);border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile12{background-color:#ab8151;color:#FFF;border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile13{background-color:#3270b7;color:#FFF;border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile14{background-color:#799001;color:#FFF;border-radius:8px;border-radius:8px;text-align:center;}
.emundusprofile999{background-color:#c2c2c2;background-image: -moz-linear-gradient(center top , #FFFFFF, #c2c2c2);border-radius:8px;border-radius:8px;text-align:center;}

/** Table styles **/
#userlist tbody tr td{font-size:11px; padding:1px;}
#userlist tbody tr.row0:hover td, #userlist tbody tr.row1:hover td {
	/*background-color:#FFFFDD;*/
}
#userlist tbody tr.row1 { background: #f9f9f9; border-top: 1px solid #fff; }
#userlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}
#userlist td,
#userlist th { padding: 4px; }
#userlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}
#userlist thead a:hover { text-decoration: none; }
#userlist thead th img { vertical-align: middle; }
#userlist tbody th { font-weight: bold; }
#userlist tbody tr			{ background-color: #fff;  text-align: left; font-size: 80%;}
#userlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
/*
#userlist tbody tr.row1 .red 	{ background-color:#FFA8A8;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFA8A8);}
#userlist tbody tr.row1 .green 	{ background-color:#AEE3BE;background-image: -moz-linear-gradient(center top , #FFFFFF, #AEE3BE);}
#userlist tbody tr.row0 .red 	{ background-color:#FFA8A8;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFA8A8);}
#userlist tbody tr.row0 .green 	{ background-color:#AEE3BE;background-image: -moz-linear-gradient(center top , #FFFFFF, #AEE3BE);}
*/
#userlist tbody tr.row0:hover td,
#userlist tbody tr.row1:hover td  { background-color: #ffd ; }
#userlist tbody tr td { height: 25px; background: #fff; border: 1px solid #fff; } 
#userlist tbody tr td.green:hover,
#userlist tbody tr td.green{background-color:#AEE3BE;}
#userlist tbody tr td.orange:hover, 
#userlist tbody tr td.orange{background-color:#FC0;}
#userlist tbody tr td.red:hover, 
#userlist tbody tr td.red{background-color:#FFA8A8;}
/*#userlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }*/
#userlist tfoot tr { text-align: center;  color: #333; }
#userlist tfoot td,
#userlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }
#userlist td.order 		{ text-align: center; white-space: nowrap; }
#userlist td.order span { float: left; display: block; width: 20px; text-align: center; }
.modal {background-color:#F0F0F0;border-radius:5px;border-radius:5px;padding:5px 2px 5px 2px;margin:1px}
.modal:hover {background-color:#C4C4C4;color:#FFFborder-radius:5px;border-radius:5px;padding:8px 2px 8px 2px;margin:1px}


/** 
 * Table styles 
 * application_form
 **/
table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}
table.adminlist td,
table.adminlist th { padding: 4px; }
table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}
table.adminlist thead a:hover { text-decoration: none; }
table.adminlist thead th img { vertical-align: middle; }
table.adminlist tbody th { font-weight: bold; }
table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }
table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }
table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }
table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }
table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

/** Evaluation **/
.emundus_finalgrade4 { background: #090; border: 1px solid #060; padding:0 0 0 10px; }
.emundus_finalgrade3 { background: #c2c2c2; border: 1px solid #ccc; padding:0 0 0 10px; }
.emundus_finalgrade2 { background: #f00; border: 1px solid #c00; padding:0 0 0 10px; }
.emundus_finalgrade { background: #fc0; border: 1px solid #c00; padding:0 0 0 10px; }

/*
table #userlist .pagination { display:table; padding:0;  margin:0 auto;	 }

.pagination {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}
*/

/******** BUTTON ***************/
input.emundusdelete {
  color:#383838; 
  font: bold 90% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#f2f2f2; 
  border: 1px solid; 
  border-color: #383838 #363 #363 #383838;
}
input.btnhov { 
	border-color: #c63 #930 #930 #c63; 
	background-color:#930;
	color:#fff;
}
#right.attachment_button { float: right; padding:1em; }
.attachment_button { padding:1em; }

/******** Checklist *********/

.mandatory{ width: 50%; float:left; }
.optional{ width: 50%; float:left; }

/******** Search LOV **/
.emundus_search_grp {
	color: #009;text-align:center;background-color:#E0E0E0; font-weight:bold; font-family:Arial; font-size:105%;
}
.emundus_search_elm {
	color: #003;
}

.em_filters{
	float:left;
	padding-top:10px;
	margin-right:20px;
}
#schoolyear.em_filters {
	float:right;
}
#finalgrade.em_filters {
	float:right;
}

#add_filt {
	margin-left:10px;
}

#em_adv_filters.em_filters {
	clear:both;
	width:550px;
	padding-top:10px;
}

#em_adv_filters a, #em_other_filters a {
	color:#404040;
}

#em_adv_filters, #em_other_filters {
	font-size:14px;
	font-weight:700;
	margin-bottom:20px;
	text-decoration:none;
}

.buttons {
	clear:both;
	margin-top:20px;
}

.em_list {
	list-style-type:none;
	list-style-type:inside;
}

#em_list_elements {
	padding-bottom:15px;
}
.em_upload, .em_gender, .em_email, .em_details, .em_evaluation, .em_selection_outcome {float:left; padding: 1px 3px 1px 3px}
.em_attachments, .em_forms {float:padding; margin: 0px 3px 0px 3px; display: inline-block;}
.em_photo {float:left;}