@import url('https://fonts.googleapis.com/css?family=Carme:400,700');

#loginComp {
  display: inline-block;
  margin-bottom: 25px;
}
#loginComp #loginBtn {
  display: none;
}

.selectBtn {
  display: inline-block;
  *display: inline;
  z-index: 10000;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: auto;
  -ms-user-select: none; 
}
.selectBtn:hover,
.selectBtn:active,
.selectBtn:focus {
  background: none;
}
#logoutForm,
#loginForm {
  display: inline-block;
  margin: 0;
}#strongFields {
  display: block;
  overflow: hidden;
  height: 7px;
  margin: 3px 0 2px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
  background-color: #1fb0e4;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxsaW5lYXJHcmFkaWVudCBpZD0nZycgeDI9JzEwMCUnIHkyPScwJz48c3RvcCBzdG9wLWNvbG9yPScjMWZiMGU0Jy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjMTg2OGExJy8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2cpJy8+PC9zdmc+);
	background-image: -moz-linear-gradient(left, #1fb0e4, #1868a1);
  background-image: -o-linear-gradient(left, #1fb0e4, #1868a1);
  background-image: -ms-linear-gradient(left, #1fb0e4, #1868a1);
	background-image: -webkit-gradient(linear, left top, right top, from(#1fb0e4), to(#1868a1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1fb0e4, endColorstr=#1868a1, GradientType=1);
}
#strongFields .strongField.empty {
  background-color: #eeeeee;
  -webkit-transition: background-color 1.2s ease-out;
	-moz-transition: background-color 1.2s ease-out;
  -ms-transition: background-color 1.2s ease-out;
  -o-transition: background-color 1.2s ease-out;
	transition: background-color 1.2s ease-out;
}
.strongField.empty,
.strongField {
  display: block;
  background-color: transparent;
  width: 20%;
  height: 7px;
  float: left;
  box-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4) inset,
    -2px 0 0 #f5f5f5;
  -webkit-box-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4) inset,
    -2px 0 0 #f5f5f5;
}
.loginWndInside {
  position: relative;
  display: inline-block;
  padding: 18px 20px 8px;
  text-align: center;
  border: 1px #9D9D9D solid;
  background-color: #f5f5f5;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  box-shadow:
		0px 0px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:
		0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:
		0px 0px 2px rgba(0,0,0,0.4);
}
.loginH1 {
  font-family: 'Carme',Helvetica;
font-size: 14px;
color: #5d5c5c;
font-weight: normal;
text-align: left;
line-height: 21px;
  padding-bottom: 6px;
  margin: 0 0 9px 0;
  position: relative;
  border-bottom: 1px #c4c4c4 solid;
  box-shadow: 0px 1px 0px #FFFFFF;
	-moz-box-shadow: 0px 1px 0px #FFFFFF;
	-webkit-box-shadow: 0px 1px 0px #FFFFFF;
}
.socialBody {
	background-color: #c4c4c4;
}
.captchaCnt {
  display: block;
  *width: 215px;
  border: none;
  clear: both;
  padding: 4px 2px 2px 4px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 0 6px;
  background: #fff;
  box-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.8),
    1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.8),
    1px 1px 3px rgba(0, 0, 0, 0.3) inset;
}
.dj_ie7 .captchaCnt,
.dj_ie8 .captchaCnt {
  border: 1px #c4c4c4 solid\9;
}
#regRequired .red,
.loginMsg .red {
  display: none;
}
#recaptchaImg {
  display: block;
  width: 100%;
  min-height: 57px;
  max-width: 300px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .33s ease-in-out;
  -o-transition: opacity .33s ease-in-out;
  -ms-transition: opacity .33s ease-in-out;
  -moz-transition: opacity .33s ease-in-out;
  -webkit-transition: opacity .33s ease-in-out;
}
#recaptchaImg.fadeIn {
  min-height: 0;
	opacity: 1;
}
a#loginBtn.selectBtn:hover {
  background-color: transparent;
}
.selectBtn {
  margin: 1px;
  white-space: nowrap;
}
.selectBtn:hover,
.loginBtn:hover {
  *text-decoration: none;
}
.btnIco {
  display: block;
  float: left;
  background: transparent no-repeat 1px center;
  width: 20px;
  border-right: 1px #0d5f95 solid;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5);
}
.socialIco {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  background: #c4c4c4;
  display: inline-block;
  *display: block;
  *float: left;
  margin: 0 9px;
  text-align: left;
}
.socialIco:first-child {
  margin-left: 0;
}
.socialIco:last-child {
  margin-right: 0;
}
.socialImg {
  margin: 4px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 1px #fff;
}
.loginBtn,
.socialIco,
.socialImg {
  -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.socialIco:hover .socialImg {
  border-radius: 7px;
  -webkit-border-radius: 7px;
}
.socialIco:hover {
  background-color: #1685d7;
}
.facebookImg {
  background: transparent url(/modules/mod_improved_ajax_login/themes/elegant/images/fb.png);
}
.googleImg {
  background: transparent url(/modules/mod_improved_ajax_login/themes/elegant/images/google.png);
}
.twitterImg {
  background: transparent url(/modules/mod_improved_ajax_login/themes/elegant/images/twitter.png);
}
.windowsImg {
  background: transparent url(/modules/mod_improved_ajax_login/themes/elegant/images/wl.png);
}
.loginBrd {
  clear: both;
  *text-align: center;
  position: relative;
  margin: 13px 0;
  height: 0;
  padding: 0;
  border: 0;
}
.loginBrd {
  border-bottom: 1px #c4c4c4 solid;
  box-shadow:
		0px 1px 0px #FFFFFF;
	-moz-box-shadow:
		0px 1px 0px #FFFFFF;
	-webkit-box-shadow:
		0px 1px 0px #FFFFFF;
}
.loginOr {
  display: none;
  position: absolute;
  width: 20px;
  height: 15px;
  left: 50%;
  text-align: center;
  margin: -7px 0 0 -13px;
  border: 3px solid #f5f5f5;
  border-top: 0;
  background: #f5f5f5;
}
#loginWnd .loginOr {
  display: block;
}

#loginWnd *::selection {
  background-color: #1685d7;
  color: #ffffff;
}

#loginWnd *::-moz-selection {
  background-color: #1685d7;
  color: #ffffff;
}

.arrowL,
.arrowR {
  display: block;
  position: absolute;
  top: 7px;
  width: 0;
  height: 0;
  border: 5px transparent solid;
  border-right-color: #922F2F;
  border-left-width: 0;
}
.arrowL {
	left: -11px;
}
.arrowR {
  right: -6px;
  border-left-color: #922F2F;
  border-width: 5px 0 5px 5px;
}
.Inf .arrowL {
  border-right-color: #CDCDCD;
}
.Inf .arrowR {
  border-left-color: #CDCDCD;
}
.loginMsg {
  display: none;
  z-index: 10000;
  position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.3);
}
.loginMsg.Inf {
  border: 1px solid #CDCDCD;
  background-color: #FFFFFF;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxsaW5lYXJHcmFkaWVudCBpZD0nZycgeDI9JzAnIHkyPScxMDAlJz48c3RvcCBzdG9wLWNvbG9yPScjRkZGRkZGJy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjRjVGNUY1Jy8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2cpJy8+PC9zdmc+);
	background-image: -moz-linear-gradient(top, #FFFFFF, #F5F5F5);
  background-image: -o-linear-gradient(top, #FFFFFF, #F5F5F5);
  background-image: -ms-linear-gradient(top, #FFFFFF, #F5F5F5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F5F5F5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F5F5F5);
}
.loginMsg.Err {
  border: 1px solid #922F2F;
  background-color: #BD6060;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxsaW5lYXJHcmFkaWVudCBpZD0nZycgeDI9JzAnIHkyPScxMDAlJz48c3RvcCBzdG9wLWNvbG9yPScjQkQ2MDYwJy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjQjA0RDREJy8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2cpJy8+PC9zdmc+);
	background-image: -moz-linear-gradient(top, #BD6060, #B04D4D);
  background-image: -o-linear-gradient(top, #BD6060, #B04D4D);
  background-image: -ms-linear-gradient(top, #BD6060, #B04D4D);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BD6060), to(#B04D4D));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BD6060, endColorstr=#B04D4D);
}
span.loginInf,
span.loginErr {
  position: relative;
  text-align: left;
  max-width: 360px;
  cursor: default;
  margin-left: 5px;
  padding: 4px 8px 4px 16px;
  text-decoration: none;
  color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}
span.loginInf {
  color: #5e5e5e;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
div.iconErr,
div.iconInf {
  width: 15px;
  position: absolute;
  left: 0;
  background: url(/modules/mod_improved_ajax_login/themes/elegant/images/info.png) no-repeat scroll left center transparent;
}
div.iconErr {
  background: url(/modules/mod_improved_ajax_login/themes/elegant/images/error.png) no-repeat left center;
}
.loginInf,
.loginErr,
.loginBtn span,
.loginBtn {
  display: inline-block;
  font-family: 'Carme',Helvetica;
font-size: 12px;
color: #ffffff;
font-weight: normal;
text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
line-height: normal;
}
.facebookIco {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/b179a46f714668055cdbc91b5d06a2a1.png);
}
.googleIco {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/d3b884320d4d89ece5e83e2e8d11d176.png);
}
.twitterIco {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/1afb8a10cf5eaa7de286c58a58674718.png);
}
.windowsIco {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/a186daa079c03bc22140015340774932.png);
}
.loginBtn::-moz-focus-inner {
  border:0;
  padding:0;
}
.loginBtn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
	margin: 0;
	padding: 4px;
	border: 1px solid #0d5f95;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*.socialIco:hover,*/
.loginBtn,
.loginBtn:hover:active,
.selectBtn:hover .leftBtn {
  background-color: #1fb0e4;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxsaW5lYXJHcmFkaWVudCBpZD0nZycgeDI9JzAnIHkyPScxMDAlJz48c3RvcCBzdG9wLWNvbG9yPScjMWZiMGU0Jy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjMTY4NWQ3Jy8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2cpJy8+PC9zdmc+);
	background-image: -moz-linear-gradient(top, #1fb0e4, #1685d7);
  background-image: -o-linear-gradient(top, #1fb0e4, #1685d7);
  background-image: -ms-linear-gradient(top, #1fb0e4, #1685d7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1fb0e4), to(#1685d7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1fb0e4, endColorstr=#1685d7);
	-o-background-size: 100% 100%;
}
.loginBtn,
.selectBtn:active .rightBtn {
	box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		1px 1px 2px rgba(0,0,0,0.4),
		inset 1px 1px 0px rgba(255,255,255,0.5);
}
.leftBtn {
  padding-left: 6px;
  padding-right: 6px;
	border-radius: 3px 1px 1px 3px;
	-moz-border-radius: 3px 1px 1px 3px;
	-webkit-border-radius: 3px 1px 1px 3px;
}
.rightBtn {
  padding-left: 2px;
  padding-right: 2px;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-left-width: 0;
	letter-spacing: -2;
}
.loginBtn:hover,
.selectBtn:hover .rightBtn {
  background-color: #188bd8;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxsaW5lYXJHcmFkaWVudCBpZD0nZycgeDI9JzAnIHkyPScxMDAlJz48c3RvcCBzdG9wLWNvbG9yPScjMTg4YmQ4Jy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjMTg2OGExJy8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2cpJy8+PC9zdmc+);
	background-image: -moz-linear-gradient(top, #188bd8, #1868a1);
  background-image: -o-linear-gradient(top, #188bd8, #1868a1);
  background-image: -ms-linear-gradient(top, #188bd8, #1868a1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#188bd8), to(#1868a1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#188bd8, endColorstr=#1868a1);
}
.loginBtn:active:hover,
.selectBtn.active .leftBtn,
.selectBtn:active .leftBtn {
	box-shadow:
		inset 1px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:
		inset 1px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:
		inset 1px 1px 3px rgba(0,0,0,0.5);
}
.selectBtn.active {
  position: relative;
}
#loginWnd {
  visibility: hidden;
  top: 0;
  position: absolute;
  z-index: 10000;
  padding: 3px;
  border: 1px #909090 solid;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #c4c4c4;
	box-shadow:
		1px 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:
		1px 1px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:
		1px 1px 5px rgba(0, 0, 0, 0.4);
}
.usermenu .loginWndInside {
  padding: 5px;
}
#upArrow {
  position: absolute;
  top: -15px;
}
.upArrowOutside,
.upArrowInside {
  position: absolute;
  top: -1px;
  display: block;
  width: 2px;
  height: 0;
  border: 10px transparent solid;
  border-bottom-color: #9D9D9D;
  border-top-width: 0;
}
.upArrowInside {
  width: 0;
  top: 0px;
  left: 1px;
	border-bottom-color: #c4c4c4;
}
.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
  margin: 0;
	padding: 3px 5px;
	border: 1px solid #0d5f95;
	border-radius: 0 3px;
	-moz-border-radius: 0 3px;
	-webkit-border-radius: 0 3px 0 3px;
  box-shadow:
		inset 1px -1px 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:
		inset 1px -1px 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:
		inset 1px -1px 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
}
.closeBtn:hover {
  box-shadow:
		inset 0 0 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:
		inset 0 0 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:
		inset 0 0 3px rgba(0,0,0,0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
}
div.correct {
  background: transparent url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png) no-repeat 0 center;
  width: 20px;
  display: inline-block;
}
.loginOr,
.smallTxt,
.checkLbl,
.forgetLnk,
.loginLst a:link,
.loginLst a:visited,
input[type=text].loginTxt,
input[type=password].loginTxt {
  font-family: 'Carme',Helvetica;
font-size: 12px;
color: #5d5c5c;
text-decoration: none;
line-height: normal;
}
.checkLbl {
  float: left;
}
.dj_ie8 input[type=password].loginTxt,
.dj_ie8 input[type=text].loginTxt,
.dj_ie8 input[type=password].loginTxt:focus,
.dj_ie8 input[type=text].loginTxt:focus {
  border: 1px #c4c4c4 solid;
}
#passReg {
  margin-bottom: 0;
}
#passReg:hover ~ #strongFields .strongField.empty,
#passReg:focus ~ #strongFields .strongField.empty {
  background-color: #ffffff;
}
#passStrongness {
  *display: none;
  float: right;
}
.strongField {
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    inset 2px 2px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    inset 2px 2px 0 rgba(255,255,255,0.5);
}
input[type=password].loginTxt,
input[type=text].loginTxt {
  display: block;
  width: 100%;
  *width: auto;
  height: auto;
  margin: 0 0 14px;
  padding: 5px;
  padding-left: 25px;
  background: #eeeeee no-repeat;
  border: none;
  *border: 1px #c4c4c4 solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:
	  1px 1px 0 rgba(255,255,255,0.8),
		inset 1px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:
	  1px 1px 0 rgba(255,255,255,0.8),
		inset 1px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:
	  1px 1px 0 rgba(255,255,255,0.8),
		inset 1px 1px 3px rgba(0,0,0,0.3);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  background-position: 8px center, 8px -150%, 7px -150%;
  background-position: 8px center\9;
  -webkit-transition: background-position 0s ease-out;
	-moz-transition: background-position 0s ease-out;
  -ms-transition: background-position 0s ease-out;
  -o-transition: background-position 0s ease-out;
	transition: background-position 0s ease-out;
}
#strongFields .strongField,
#strongFields .strongField.empty,
input[type=password].loginTxt,
input[type=text].loginTxt {
  -webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
input[type=password].loginTxt:focus,
input[type=text].loginTxt:focus {
  background-position: 8px 250%, 8px center, 7px -150%;
  -webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
  -ms-transition:background 0.3s;
  -o-transition:background 0.3s;
	transition:background 0.3s;
}
input[type=password].loginTxt.correct,
input[type=text].loginTxt.correct {
  background-position: 8px -150%, 8px -150%, 7px center;
  background-position: 7px center\9;
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png)\9;
}
input[type=password].loginTxt.correct:focus,
input[type=text].loginTxt.correct:focus {
  background-position: 8px center, 8px -150%, 7px 250%;
}
input[type=password].regTxt,
input[type=text].regTxt {
  margin-bottom: 12px;
  width: 190px;
}
#regLyr {
  text-align: left;
}
#regLyr .columnL {
  float: left;
  margin: 0 20px 2px 0;
  *margin: 0 0 2px 0;
  clear: both;
}
#regLyr .columnR {
  float: left;
  *clear: both;
  margin: 0 0 2px 0;
}
button#submitReg.submitBtn {
  margin: 0 0 7px;
  *clear: both;
}
#regLyr .submitBtn{
  width: 190px;
  float: right;
  *float: none;
  *display: block;
  clear: none;
}
.dj_ie8 #regLyr .submitBtn {
  clear: both;
}
#regLyr span.submitBtn:nth-child(2n+1) {
  float: left;
  clear: both;
}
#logLyr br.socialBR {
  display: none;
}
input[type=password].loginTxt:hover,
input[type=text].loginTxt:hover,
input[type=password].loginTxt:focus,
input[type=text].loginTxt:focus {
  background-color: #ffffff;
}
input[name=email2].loginTxt,
input[name=email].loginTxt {
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/email.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/email.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png);
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/email.png)\9;
}
input[name=name].loginTxt,
input[name=username].loginTxt {
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/user.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/user.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png);
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/user.png)\9;
}
input[name=passwd2].loginTxt,
input[name=passwd].loginTxt {
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/pass.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/pass.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png);
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/pass.png)\9;
}
input[name=recaptchaResponse].loginTxt {
  margin: 0;
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/pen.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/pen.png), url(/modules/mod_improved_ajax_login/themes/elegant/images/ok.png);
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/pen.png)\9;
}
.submitBtn {
  display: block;
  *display: inline;
  width: 100%;
  *width:auto;
  margin-bottom: 10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.checkLbl,
.forgetLnk:link,
.forgetLnk:visited {
  cursor: pointer;
  font-size: 11px;
  font-weight: normal;
  vertical-align: 4px;
	margin:0;
}
.smallTxt {
  display: inline-block;
  margin-bottom: 1px;
  font-size: 11px;
  font-weight: normal;
}
.forgetDiv {
  float: right;
  *float: none;
  display: inline-block;
}
a.forgetLnk:link {
  padding: 0;
  margin-left: 10px;
  background: none;
}

a.forgetLnk:hover {
  background-color: transparent;
  text-decoration: underline;
}
.checkBox {
  display: block;
  margin: 1px 0 0 0;
  width: 10px;
  height: 10px;
  border: 1px #909090 solid;
  float: left;
  background: transparent none no-repeat 2px 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
  box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25);
}
.checkLbl:hover .checkBox {
  background-color: #ffffff;
	box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.25) inset;
}
.checkBox.active {
  background-image: url(/modules/mod_improved_ajax_login/themes/elegant/images/check.png);
}
.loginLst {
  padding: 0;
  margin: 0;
  list-style: circle inside;
}
.loginLst a:link,
.loginLst a:visited {
  display: block;
  padding: 0 10px 0 20px;
  line-height: 22px;
  text-align: left;
  border-bottom: 1px #c4c4c4 solid;
  box-shadow:
		0px 1px 0px #FFFFFF;
	-moz-box-shadow:
		0px 1px 0px #FFFFFF;
	-webkit-box-shadow:
		0px 1px 0px #FFFFFF;
  -webkit-transition: padding 0.25s ease-out;
	-moz-transition: padding 0.25s ease-out;
  -ms-transition: padding 0.25s ease-out;
  -o-transition: padding 0.25s ease-out;
	transition: padding 0.25s ease-out;
}
.forgetLnk:link,
.forgetLnk:visited,
.forgetLnk:hover,
.loginLst a.active,
.loginLst a:hover {
  padding: 0 5px 0 25px;
	color: #1685d7;
text-decoration: none;
}
#passStrongness,
#regRequired,
#regLyr .req {
  color: #1685d7;
}
#regRequired {
  display: block;
}
.loginLst a{
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/ad76776b8ad8bce6a8a4a65747968b95.png), url(/modules/mod_improved_ajax_login/cache/106-langen-GB/cc540babcf9e1f1951c28a4c8903a2e1.png);
  background-position: 0 center, -100% 0;
	background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/ad76776b8ad8bce6a8a4a65747968b95.png)\9;
  background-position: 0 center\9;
}
.loginLst a.active,
.loginLst a:hover {
  background-position: -100% 0, 0 center;
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/cc540babcf9e1f1951c28a4c8903a2e1.png)\9;
}
.loginLst .settings {
	background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/4313ccf7259ef1aff1d7129786f30db7.png), url(/modules/mod_improved_ajax_login/cache/106-langen-GB/3f5070a42e9f40e6d7e7afe614553bc4.png);
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/4313ccf7259ef1aff1d7129786f30db7.png)\9;
}
.loginLst .settings:hover {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/3f5070a42e9f40e6d7e7afe614553bc4.png)\9;
}
.loginLst .cart {
	background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/003dec1213503134f9feadcc8dea01db.png), url(/modules/mod_improved_ajax_login/cache/106-langen-GB/0d2456fb45c8666d16516532342acaa4.png);
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/003dec1213503134f9feadcc8dea01db.png)\9;
}
.loginLst .cart:hover {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/0d2456fb45c8666d16516532342acaa4.png)\9;
}
.loginLst .logout {
	background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/711fbf595f63f62ad8ee4ca2a707467a.png), url(/modules/mod_improved_ajax_login/cache/106-langen-GB/a308f8690a947b0c29c3b7784680ca48.png);
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/711fbf595f63f62ad8ee4ca2a707467a.png)\9;
}
.loginLst .logout:hover {
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/a308f8690a947b0c29c3b7784680ca48.png)\9;
}
.loginLst a.active,
.loginLst a.active:hover{
  background-image: none;
}
.loginLst a:last-child {
  border: 0;
  box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.blackBg {
	display:none;
	position:absolute;
	background:#000 url(/modules/mod_improved_ajax_login/themes/elegant/images/patterns/ptrn1.png);
	top:0;left:0;
	width:100%;
	height:100%;
	z-index:9999;
  opacity: 1;
  -webkit-transition: opacity 333ms ease-out;
	-moz-transition: opacity 333ms ease-out;
  -ms-transition: opacity 333ms ease-out;
  -o-transition: opacity 333ms ease-out;
	transition: opacity 333ms ease-out;
}
.waitAnim {
  display: block;
	width: 14px;
	height: 14px;
	margin: 4px 2px;
	position: absolute;
	background:  transparent url(/modules/mod_improved_ajax_login/cache/106-langen-GB/2d62317b9452a14ddcef0f0120271dcc.png) repeat-y 0 0;
}
.forgetDiv .waitAnim {
  margin: 0 0 0 -1px;
}
.loginBtn span {
  display: inline-block;
  cursor: default;
}
.loginBtn .waitAnim{
	display: none;
  background-image: url(/modules/mod_improved_ajax_login/cache/106-langen-GB/a7aff30d5f10a9700f1184dc9fbac62c.png);
	margin: 1px 0 0 -16px;
}
.fullWidth.selectBtn,
.fullWidth.selectBtn span {
  display: block;
  text-decoration: none;
  z-index: 0;
}
form.fullWidth {
  width: 100%;
}
.dj_ie9 .socialIco,
.dj_ie9 .loginMsg,
.dj_ie9 .loginBtn,
.dj_ie9 .loginBtn:hover,
.dj_ie9 .loginBtn:hover:active,
.dj_ie9 .selectBtn:hover .leftBtn,
.dj_ie9 .selectBtn:hover .rightBtn {
  filter: none;
}
.loginBtn,
.checkLbl,
.forgetLnk,
.loginLst a:link,
.loginLst a:visited {
	-moz-user-select:none;
	-khtml-user-select: none;
	-webkit-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 767px) {
  #regLyr .columnL {
    margin-right: 0;
  }
  #regLyr .columnR {
    clear: both;
  }
  #regLyr button.submitBtn,
  #regLyr .submitBtn{
    float: left;
    clear: both;
  }
  .socialIco {
    margin: 0 5px;
  }
  .captchaCnt {
    width: 184px;
  }
  #recaptchaImg {
    width: 100%;
    min-height: 0;
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
  }
}