html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,ul,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,form,label,legend,table,caption,tbody,tfoot,tr,th,td {background:transparent;border:10px;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;outline:0;/*vertical-align:baseline;*/}

/*Tables*/
table {text-align:left;border-spacing:3px;}  /*border-collapse:collapse; */
.emundusraw th { padding-right:1em; }

/* Main Layout */
fieldset {
	border: 1px solid #ccc;
	margin: 15px 0 15px 0;
	padding: 15px;
	background-color:#FFF;
}

#col1{
	background-color:#F5F5F5;
}
#group28 fieldset {width:50%;}
html {height:100%;margin-bottom:1px;}
body {font:62.5%/1.2 Helvetica, Arial, sans-serif;color:#555;}
h1,h2,h3,h4,.componentheading {font-weight:bold;margin:.3em 0 1em;}
h1,.componentheading {font-size:180%;}
h2 {font-size:150%;}
h3 {font-size:130%;}
h4 {font-size:110%;}
a {color:#478406;text-decoration:none;font-weight:bold;}
a:hover {text-decoration:underline;}
ul {margin:1em;}
p {margin-top:10px;margin-bottom:10px;}
#main {font-size:1.3em;line-height:140%;}
.background {position:absolute;width:100%;height:130px;background:url(../images/light2.png) 0 -384px repeat-x;}
#main .foreground, #message, #showcase, .leading, #page {position:relative;}
#message, #showcase {z-index:0;}
#main-content {border-bottom:1px solid #ddd;}
.dp20,.dp25,.dp33,.dp50,.dp100 {float:left;margin-top:15px;}
.dp20 {width:20%;}
.dp25 {width:25%;}
.dp33 {width:33.33%;}
.dp50 {width:50%;}
.dp100 {width:100%;margin-top:0;}
.clr {clear:both;font-size:0;}
#colmask {clear:both;overflow:visible;position:relative;width:100%;}
#maincol, #wrapper {position:relative;}
.s-c-s #colmid, .s-c-x #colright {float:left;position:relative;width:200%;}
.s-c-s #colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s #col1wrap {float:right;position:relative;right:100%;width:50%;}
.s-c-s #col1pad, .x-c-s #col1, .x-c-s #colmid {overflow:visible;}
.s-c-s #col1 {overflow:visible;width:100%;}
.s-c-s #col2 {float:left;position:relative;overflow:visible;margin-left:-50%;}
.s-c-s #col3 {float:left;position:relative;overflow:visible;left:0;}
.s-c-x #col1wrap {float:right;position:relative;width:50%;}
.s-c-x #col1 {overflow:visible;position:relative;right:100%;}
.s-c-x #col2 {float:left;position:relative;}
.x-c-s #colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s #col1wrap {float:left;left:50%;position:relative;width:50%;}
.x-c-s #col3 {float:right;position:relative;}
.s-c-s .ctr-color1, .s-c-s .ckl-color1, .s-c-x .ckl-color1, .x-c-s .cdr-color1 {background:#eee;}
.s-c-s .ctr-color2, .s-c-s .ckl-color2, .s-c-x .ckl-color2, .x-c-s .cdr-color2 {background:#d1e0e7;}
.s-c-s #col1pad, .s-c-x #colright, .x-c-s #colright, #wrapper, body {background:#fff;}
.cols1 {display:block;float:none;margin:0;width:100%;}
.cols2 {width:49%;overflow:visible;}
.cols3 {width:30%;}
.column1, .column2 {position:relative;float:left;margin:0;}
.colpad {padding:0 10px;position:relative;}
.column2 {float:right;width:49%;}
.article_row {overflow:visible;margin:0 -10px 15px -10px;}

/* Header */
#logo {height:91px;background:url(../images/background_header.png) no-repeat;display:block;}
#header {overflow:visible;}
#header li {list-style:none;float:left;padding-left:15px;font-weight:bold;}
#nav {height:34px;background: #999;z-index:1;position:relative;}
.menumain_men li {background-color:#003F86;}
#nav ul {margin:0 0 0 15px;}
#nav li {list-style:none;float:left;padding-left:3px;height:34px;position:relative;}
#nav li a {display:block;padding:0 10px;line-height:30px;color:#fff;font-weight:bold;}
#nav li.active a {background:#fff;color:#478406;}
#nav li a:hover, #nav li:hover a, #nav li.sfHover a {background:#478406;color:#fff;text-decoration:none;}
#nav li ul {position:absolute;width:170px;left:-999em;margin-left:-1px;border:1px solid #3F7300;border-top:0;}
#nav li ul ul {margin:-31px 0 0 170px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul, #nav li.sfHover ul ul ul ul {left:-999em;}
#nav li li {padding:0;height:auto;background:#fff;width:170px;}
#nav li li a, #nav li li.active a, #nav li li a:hover {margin:0;height:30px;line-height:30px;background:#fff;border-top:1px solid #3F7300;color:#478406;}
#nav li li a, #nav li.active li a {font-weight:normal;}
#nav li:hover ul, #nav li.sfHover ul {left:4px;}
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul, #nav li li li li.sfHover ul {left:0;}
legend { margin: 0; font-weight: bold; font-family: Helvetica,Arial,sans-serif; font-size: 1.3em; padding: 0 10px; text-align: left; }

/* Showcase */
#showcase {margin:3px 0 8px 0;position:relative;color:#000;}
#showcase .background {position:absolute;width:100%;height:130px;background:url(../images/light2.png) 0 -514px repeat-x;}
#showcase .foreground {border:1px solid #dfeaee;overflow:visible;padding-bottom:25px;}
#showcase h1 {font-weight:normal;font-size:3.0em;line-height:105%;margin:25px 55px 10px 25px;}
#showcase h3 {font-weight:normal;font-size:1.4em;font-weight:normal;margin:0 55px 20px 25px;}
#showcase b {font-weight:normal;color:#026AB6;}
#showcase .pad {padding:0 50px 25px 25px;}
#showcase .num {float:left;background:#026AB6;text-align:center;line-height:90%;color:#fff;font-size:2em;padding:3px 8px;}
#showcase .pad h2 {font-size:1.4em;font-weight:bold;margin:0 0 5px 40px;}
#showcase .pad p {margin-left:40px;}

/* Content styles */
p.buttonheading {position:absolute;top:2px;right:10px;margin:0;}
.buttonheading .icon {display:block;width:16px;height:16px;float:left;margin-left:5px;}
.buttonheading .pdf {background:url(../images/light2.png) -57px -366px;}
.buttonheading .print {background:url(../images/light2.png) -21px -366px;}
.buttonheading .email {background:url(../images/light2.png) -39px -366px;}
.iteminfo {font-size:90%;overflow:visible;border-bottom:1px solid #dedede;margin-bottom:20px;display:block;margin-top:-10px;width:100%;}
.modifydate, .createdby, .createdate {display:block;}
.createdby {font-weight:bold;}
a.readon, a.readon2 {display:block;margin-top:15px;font-style:italic;}
a.readon2 {background:url(../images/light2.png) 100% -344px;display:block;float:right;color:#fff;font-weight:bold;line-height:20px;}
a.readon2 span {background:url(../images/light2.png) 0 -344px;display:block;margin-right:10px;height:21px;float:left;padding:0 5px 0 15px;}
.breadcrumbs-pad {padding:0 1px;}
div.breadcrumbs {background:url(../images/light2.png) 0 -68px repeat-x;border-bottom:1px solid #e6e6e6;font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;color:#777;border-top:1px solid #d9d9d9;}
div.breadcrumbs .sep {padding:0 5px;}
.component-pad {padding:0 15px 15px;}
.banneritem_text {margin-bottom:10px;}
#modlgn_username, #modlgn_passwd {border:1px solid #ccc;padding:3px;}
.pagination span, .pagination a {margin-right:5px;}
/*#colmask ul li {list-style:circle;}*/
#colmask ul ul {margin-top:0;}
/*#colmask ul ul li {list-style:square;}*/
.colpad h2.contentheading {padding-right:65px;}
.sectiontableheader {font-weight:bold;line-height:25px;text-align:left;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align:left;padding:0 4px;vertical-align:middle;border-top:1px solid #ddd;line-height:30px;}
span.attention {display:block;margin:15px 0;padding:8px 10px 8px 10px;background:#FFF3A3;border:1px solid #E7BD72;color:#B79000;}

/* Modules */
.module {padding:1px;}
.module-title {font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;}
.module-body {text-align:right;}
.color1 .module-title {background:url(../images/light2.png) 0 -204px repeat-x;border-bottom:1px solid #ddd;color:#777;}
.color1 .module-body {border-top:1px solid #fff;}
.color2 .module-title {background:url(../images/light2.png) 0 -136px repeat-x;border-bottom:1px solid #c3d9e1;color:#50646d;}
.color2 .module-body {border-top:1px solid #dfeaef;}
#colmask .m_menu {background:#026AB6;color:#fff;}
#colmask .m_menu .module-title {background:url(../images/light2.png) 0 -0px repeat-x;border-bottom:1px solid #005A9B;color:#fff;}
#colmask .m_menu .module-body {border-top:1px solid #247EBF;}
#colmask .m_menu a {color:#fff;}
#colmask .m_menu ul {margin:0 1em;}
#mainmods, #mainmods2, #mainmods3 {overflow:visible;padding-top:15px;}
#mainmods3 {background:#eee;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
.spacer .module {float:left;}
.spacer.w99 .module {width:100%;}
.spacer.w49 .module {width:49.2%;}
.spacer.w33 .module {width:32.8%;}
#header .module_login {float:right; width:45%;padding-top:15px;}
#header .module_logout {float:right; width:45%;padding-top:15px;}
#main-content li .active a {font-weight: normal;}

/* Footer */
#footer {background:#f7f7f7;border-top:1px solid #fff;}
.footer-pad {padding:10px 15px;overflow:visible;}
#logo2 {width:165px;height:20px;background:url(../images/light2.png) 5px -646px no-repeat;display:block;float:right;margin-left:15px;margin-top:15px;}
#footer ul {margin:0;}
#footer li {list-style:none;float:left;padding-right:20px;font-weight:bold;}

/* System Standard Messages */
#system-message { margin-bottom: 20px; }

#system-message dd.message ul { list-style-type: none; background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;border-top: 3px solid #84A7DB; border-bottom: 3px solid #84A7DB; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Error Messages */
#system-message dd.error ul { list-style-type: none; color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul { list-style-type: none; color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px; padding-left: 40px; text-indent:0px;}

#syndicate{
	float:left;
	padding-left: 25px;
}

#power_by{
	float:right;
	padding-right: 25px;
}

/* Component Specific Fixes */

#component-contact table td {
	padding: 2px 0;
}

/* Fabrik for &tmpl=component request */
.fabrikLabel{
	padding-right:15px;
	display:inline;
	font-weight:bold;
	
}
.fabrikfield{
	list-style-type: none
}
.fabrikHide{
	display:none;
}
.isemail{
	background: transparent url(../../../media/com_fabrik/images/email.gif) no-repeat top right !important;
}
.notempty{
	background: transparent url(../../../media/com_fabrik/images/required.png) no-repeat top right !important;
}
.isalphanumeric{
	background: transparent url(../../../media/com_fabrik/images/alphanumeric.png) no-repeat top right !important;
}
dt {
visibility:hidden;
}
/*Setup Application Form*/
#profilebasics th {
    text-align: left;
	color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
	font-weight:bold;
    line-height: 1.3em;
	padding-right: 1em;
}
#attachmentlist th {
	text-align:center;
	padding-right: 0;
}
/*Home page
.button_home_page{display: table-cell; padding-left: 18%; width:100%; text-align:center;}
*/
.button_home_page a{
opacity: .3;
}
.button_home_page a:hover{
opacity: 1;
}

.button_home_page_coord a{
display: table-cell;
background: url(/images/emundus/icones/connect_regist_home.png) no-repeat;
height:60px;
width:170px;
border-radius: 10px 10px 10px 10px;
text-align:center;
vertical-align:middle;
opacity: .3;
text-decoration:none;
color: white;
}
.button_home_page_coord a:hover{
box-shadow: 0px 0px 5px #222;
opacity: 1;
}


/*Tooltips */

.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}
/*log*/
.m_log{
float:right;
width:42%;
margin-right:10px;
}

/** ScrollToTop **/
/*La différence d'opacité va permettre d'obtenir du gris 
puis du noir lorsque la souris passe sur l'élément*/
#scrollToTop a{
position: fixed;/*l'élément est toujours à la même place dans l'écran*/
right: 30px;/*décalage du bord droit*/
top: 200px;/*décalage du bord haut*/
border-radius: 10px 10px 10px 10px;/*arrondi les angles*/
background: url(/images/emundus/icones/fleche_haut.png) no-repeat;
width:45px;
height:50px;
padding: 7px 10px;
opacity: .3;
}
#scrollToTop a:hover{
box-shadow: 0px 0px 5px #222; /*Permet de gérer l'ombre : droite bas contour couleur*/
-moz-box-shadow: 0px 0px 5px #222; /*pour Firefox*/
-webkit-box-shadow: 0px 0px 5px #222; /*Pour le navigateurs webkit*/
opacity: 1;
}

#click_home a{
display: table-cell;
background: url(/images/emundus/icones/connect_regist_home.png) no-repeat;
height:60px;
width:150px;
border-radius: 10px 10px 10px 10px;
text-align:center;
vertical-align:middle;
opacity: .3;
text-decoration:none;
color: white;
}
#click_home a:hover{
box-shadow: 0px 0px 5px #222;
opacity: 1;
}